<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.sdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".CscActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".PrivacyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".AccountManagerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".GetAccountInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".tracking.TrackingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".tracking.TrackingSendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".tracking.TrackingSimulateActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".share.ShareActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".share.FBShareActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".invite.InviteActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".invite.FBInviteActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".invite.FBInviteFriendsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".invite.VKInviteActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".invite.VKInviteFriendsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".gifting.GiftingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".gifting.FBGiftingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".gifting.FBGiftChooserActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".PaymentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <!-- Game Service -->
        <activity
            android:name=".game.GameServiceActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".game.GoogleGameActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".UpdateActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".community.CommunityActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".community.VKCommunityActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".community.VKCommunityDisplayActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".VideoAdActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".UserCenterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="behind" />
        <activity
            android:name=".RareFunctionActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".UserDeletionActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".AdMobActivity"
            android:exported="false"
            android:screenOrientation="behind" />

        <receiver
            android:name=".receiver.PushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wa.sdk.push.intent.NOTIFICATION_OPENED" />
            </intent-filter>
        </receiver>

        <!-- wingsdk 的 appid -->
        <meta-data
            android:name="com.wa.sdk.APP_ID"
            android:value="@string/sdk_app_id" />
        <!-- wingsdk 的 appkey -->
        <meta-data
            android:name="com.wa.sdk.APP_KEY"
            android:value="@string/sdk_app_key" />
        <!-- wingsdk平台请求的host地址，所有请求的前面公共部分 -->
        <meta-data
            android:name="com.wa.sdk.HTTP_BASE_URL"
            android:value="${SDK_HTTP_BASE_URL}" />
        <!-- 数据收集请求地址，可以支持不同版本的api请求 -->
        <meta-data
            android:name="com.wa.sdk.track.BASE_URL"
            android:value="${SDK_TRACKING_HTTP_BASE_URL}" />
        <!-- Facebook 配置-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- AiHelp客服 配置 -->
        <meta-data
            android:name="com.wa.sdk.AIHelp_domain"
            android:value="@string/manifest_aihelp_domain" />
        <meta-data
            android:name="com.wa.sdk.AIHelp_appId"
            android:value="@string/manifest_aihelp_appid" />
        <!--    Consent同意屏幕配置    -->
        <meta-data
            android:name="com.wa.sdk.CONSENT_NOTICE_ID"
            android:value="@string/manifest_didomi_consent_id" />
        <!--    AdMob应用ID配置    -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/manifest_admob_appid" />

        <!--    以下功能不需要设置或开启，除非运营有额外要求    -->
        <!--    开启UMP功能（一般不需要）    -->
<!--        <meta-data-->
<!--            android:name="com.wa.sdk.UMP_ENABLE"-->
<!--            android:value="true" />-->
        <!--    AppsFlyer 应用ID（一般不需要）    -->
        <meta-data
            android:name="com.wa.sdk.track.APPSFLYER_APP_KEY"
            android:value="922wXRJwEns6Qj4MfMt4Gg" />
        <!-- Google 游戏服务配置（一般不需要）-->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_game_app_id" />
        <!--    Firebase 通知图标配置（一般不需要）    -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_wa_push_notification" />
        <!--    HuaweiHMS 配置    -->
        <meta-data
            android:name="com.wa.sdk.track.ENABLE_HUAWEIHMS"
            android:value="true" />

    </application>

</manifest>