<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wa.sdk.demo">

    <application>
        <meta-data
            android:name="com.qooapp.APP_ID"
            android:value="@string/appid_test" />
        <meta-data
            android:name="com.qooapp.PUBLIC_KEY"
            android:value="@string/public_key_test" />

        <!--    以下为 Demo 处理，研发接入请忽略   -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            tools:node="remove" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            tools:node="remove" />
    </application>

</manifest>