<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.sdk.demo">

    <application>
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".AdMobActivity"
            android:exported="false"
            android:screenOrientation="behind" />

        <!--    AdMob应用ID配置    -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3512615046087076~6119035746" />

        <!--    UMP功能，默认关闭    -->
        <!--        <meta-data-->
        <!--            android:name="com.wa.sdk.UMP_ENABLE"-->
        <!--            android:value="true" />-->

    </application>

</manifest>